<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Service Tutorial</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" type="text/css">
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
    </div><!-- /page -->
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>