$gray: #222;
.support-prompt {
  display: block;
  background:$gray;
  color:white;
  width: 200px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
  border-radius:6px 0px 0px 0px;
}
p.video-label {
  text-align: center;
}
.video-streams {
  display:none;
  &.active {
    display: block;
  }
  video {
    border: 1px solid black;
    margin: 1em 1em 0 0;
    height: 200px;
    width: 200px;
    background:black;
    &:before {
      content: "Waiting for connection...";
      text-align: center;
      position:absolute;
      top:30%;
      display: block;
    }
  }
}