<div class="jumbotron">
  <h1>Watto's Budget Starship Emporium</h1>
  <p>Step right up and browse the finest selection of gently used starships in the Outer Rim Territories, fit for every budget!</p>
</div>

<div class="row">
  <div class="col-md-12">
    <% @products.each do |ship| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <h3 class="text-primary"><%= ship.name %></h3>
            </li>
            <li class="list-group-item">
              Crew: <%= ship.crew %>
            </li>
            <li class="list-group-item text-muted">
              Model: <%= ship.model %>
            </li>
            <li class="list-group-item">
              <% if ship.cost_in_credits == 'unknown' %>
                <a class="btn-block btn btn-default" href="#" >Talk to Sales</a>
              <% else %>
                <% id = (ship.url).match(/starships.*(?:\/)([^&$\/]+)/)[1] %>
                <a class="btn-block btn btn-primary" href="products/<%= id %>" >See Details</a>
              <% end %>
              
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :prompt do %>
  <!-- Prompt for user -->
  <div class="support-prompt">
    <h2>Questions?</h2> 
    <p>Talk to a sales rep now</p>
    <a class="btn-block btn btn-primary request-support" href="#">Request Support</a>
    <small class="support-status"></small>
  </div>
  
<% end %>