<div class="row">
  <div class="col-md-12">
    <h1><%= @product.name %></h1>
    <hr>
    <h3 class="text-success">Model: <%= @product.model %></h3>
    <p>Total Crew: <%= @product.crew %></p>
  </div>
</div>